<div class="method-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div class="method-head">
                    <div class="method-title">
                        <h2>Proceso de Nuestro Trabajo</h2>
                    </div>
                </div>
                <div class="method-content">
                    <div class="method-box">
                        <div class="method-box-icon">                            
                            <span class="glyphicon glyphicon-cog icon fa fa-lightbulb-o"></span>
                        </div>
                        <h4>Ideas</h4>
                    </div>
                    <div class="method-box">
                        <div class="method-box-icon">
                            <span class="glyphicon glyphicon-cog icon fa fa-puzzle-piece"></span>
                        </div>
                        <h4>Planificación</h4>
                    </div>
                    <div class="method-box">
                        <div class="method-box-icon">
                            <span class="glyphicon glyphicon-cog icon fa fa-pencil"></span>
                        </div>
                        <h4>Trabajo</h4>
                    </div>
                    <div class="method-box">
                        <div class="method-box-icon">
                            <span class="glyphicon glyphicon-cog icon fa fa-smile-o"></span>
                        </div>
                        <h4>Finalización</h4>
                    </div>
                    <span class="method-border"></span>
                </div>
            </div>
        </div>
    </div>
</div>