<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

<div class="containere">
  <div class="row">
    <br />
    <div class="col text-center">
      <h2></h2>
      <p></p>
    </div>

  </div>
  <div class="row text-center">
    <div class="col">
      <div class="counter">     
        
        <i class=" fa fa-building  fa-4x"></i>
        <h2 class="timer count-title count-number" data-to="100" data-speed="1500"></h2>
        <p class="count-text ">Construcción</p>
      </div>
    </div>
    <div class="col">
      <div class="counter">
        <i class="fa fa-wrench fa-4x"></i>
        <h2 class="timer count-title count-number" data-to="1700" data-speed="1500"></h2>
        <p class="count-text ">Metalúrgica</p>
      </div>
    </div>
    <div class="col">
      <div class="counter">
        <i class="fa fa-shower fa-4x"></i>        
        <h2 class="timer count-title count-number" data-to="11900" data-speed="1500"></h2>
        <p class="count-text ">Limpieza</p>
      </div>
    </div>
    <div class="col">
      <div class="counter">
        <i class="fa fa-gavel fa-4x"></i>        
        <h2 class="timer count-title count-number" data-to="157" data-speed="1500"></h2>
        <p class="count-text ">Carpintería</p>
      </div>
    </div>
  </div>
</div>