
<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">Sobre Nosotros</h2>
                    <p align="justify" class="aboutus-text">Los primeros proyectos se comienzan a crear en el año 2015 y en el 2020 se solidifica la creación de nuestra empresa con
                    sede principal en la ciudad de Bata. Se dedica a la construcción y gestión de todo tipo de obras, públicas y privadas. </p>
                    <p align="justify" class="aboutus-text">
                        El principal activo de nuestra empresa, es sin duda, el capital humano de nuestros empleados, formado por un amplio
                        grupo de técnicos con una dilatada experiencia en el desarrollo de Proyectos, obra civil, promoción de viviendas y
                        realización de reformas de todo tipo.
                    </p>    
                    <p align="justify" class="aboutus-text">Bajo esta premisa desarrollamos nuestros proyectos, exigiendo en cada uno de ellos la máxima efectividad de nuestro
                    personal, a fin de obtener la calidad avalada por nuestros años de experiencia en el sector.
                    </p>
                    <p align="justify" class="aboutus-text">Gracias a un trabajo en equipo y unas infraestructuras sólidas, fruto de la experiencia, consigue afrontar y solucionar
                    eficazmente todas las posibles contingencias que surjan en los sectores que se nos necesiten.
                    </p>
                    <p align="justify" class="aboutus-text">Reflejo de ello es la confianza que han depositado en nosotros numerosas empresas privadas y públicas.
                    </p>
                    <p align="justify" class="aboutus-text">Convirtiéndose en un referente para el desarrollo de obras y proyectos con éxito.
                    </p>
                    
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                    
                    <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/about1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon fa fa-heartbeat"></span>
                            </div>
                            <div class="feature-content">
                                <h4>Nuestra Misión</h4>
                                <p align="justify">Somos una empresa que crea y ejecuta proyectos eco-sostenibles, en el ámbito público y privado.
Cuya misión es satisfacer las necesidades de nuestros clientes antes, durante y después de finalizado el proyecto. 
Dando cumplimiento a los estándares de calidad y plazos fijados por el mismo, por medio de la exigencia en el control de calidad de nuestros productos terminados.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon fa fa-life-ring"></span>
                            </div>
                            <div class="feature-content">
                                <h4>Nuestra Visión</h4>
                                <p align="justify">Ser la empresa creadora y ejecutora de proyectos de referencia a nivel regional e internacional liderando el mercado,
                                por medio de la responsabilidad y eficiencia, cumpliendo a tiempo con todos y cada uno de los trabajos encomendados.
                                Lograr que todo nuestro personal se sienta motivado y orgulloso de pertenecer a nuestra organización.
                                Fomentando el control y la calidad en el servicio, buscando siempre dar más de sí mismos y con esto lograr la
                                satisfacción del cliente.
                                Una empresa diversificada e integrada, comprometida y admirada por su capacidad de crear valor y de innovar para dar
                                respuesta a las nuevas necesidades sociales.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon fa fa-cogs"></span>
                            </div>
                            <div class="feature-content">
                                <h4>Historia</h4>
                                <p align="justify">La Compañía en el año 2017 invierte algo más de 1,2 mil millones de Fca
                                    en la Contrucción de las Instalaciones, ubicadas en un solar de 40.000 M<sup>2</sup> .</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>