<div class="services-section black-trans-bg" >
  <div class="services-section-banner"></div>
  <div class="containerS">
    <div class="row">
      <div class="col-md-8 col-md-offset-4 col-sm-12 col-xs-12" style="margin-left:30%;">
        <div class="services-head">
          <h2 class="services-title">Nuestros Servicios</h2>
          <span class="services-title-border"></span>
          <p class="services-text">Dramatically maintain clicks and mortar solutions without functional</p>
        </div>
        <div class="services-content">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="service-2">
                <div class="service-box">
                  <div class="clearfix">
                    <div class="iconset">
                      <span class="glyphicon glyphicon-cog icon fa fa-building"></span>
                    </div>
                    <div class="servicesB-content">
                      <h4>Contrucción</h4>
                      <p>Interactively procrastinate high-payoff content without backward
                        compatible data. Quickly cultivate optimal</p>
                    </div>
                  </div>
                </div>
                <div class="service-box">
                  <div class="clearfix">
                    <div class="iconset">
                      <span class="glyphicon glyphicon-cog icon fa fa-wrench"></span>
                    </div>
                    <div class="servicesB-content">
                      <h4>Metalúrgica</h4>
                      <p>Interactively procrastinate high-payoff content without backward
                        compatible data. Quickly cultivate optimal</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="service-2">
                <div class="service-box">
                  <div class="clearfix">
                    <div class="iconset">
                      <span class="glyphicon glyphicon-cog icon fa fa-shower"></span>
                    </div>
                    <div class="servicesB-content">
                      <h4>Limpieza</h4>
                      <p>Interactively procrastinate high-payoff content without backward
                        compatible data. Quickly cultivate optimal</p>
                    </div>
                  </div>
                </div>
                <div class="service-box">
                  <div class="clearfix">
                    <div class="iconset">
                      <span class="glyphicon glyphicon-cog icon fa fa-gavel"></span>
                    </div>
                    <div class="servicesB-content">
                      <h4>Carpintería</h4>
                      <p>Interactively procrastinate high-payoff content without backward
                        compatible data. Quickly cultivate optimal</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>