<div id="component" class="span12">
    <main role="main">


        <article class="page-item page-item__">
            <div class="item_fulltext">
                <p style="text-align: center;"><img src="/images/SeparadorNSM.png" alt="SeparadorNSM"
                        style="text-align: center; width: 775px;"></p>
                <h1 style="font-family: 'Open Sans', sans-serif; text-align: center;" class="visible visible-first">
                    <span style="font-family: inherit; font-size: 36pt; color: #808080;">"Dossier"</span></h1>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6"></div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        
                        <a href="/assets/download/Dossier_espannol.pdf" download>
                            <img src="/assets/download/Dossier_espannol.png" data-toggle="tooltip" data-placement="Dossier español" alt="Dossier español" width="100%" height="142">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                    
                        <a href="/assets/download/Dossier_english.pdf" download>
                            <img src="/assets/download/Dossier_english.png" tooltip="Dossier english" alt="Dossier english" width="100%" height="142">
                        </a>
                    </div>
                </div>
                <p>&nbsp;</p>
                <p style="text-align: center;">&nbsp;Visita nuestra sección de <a href="/casetas-de-obra"
                        target="_blank">Casetas de Obra</a> en venta y alquiler.</p>
            </div>

        </article>
        
    </main>
</div>